@using Blog.Services.Models
@using Microsoft.AspNetCore.Identity
@model IList<Blog.Services.Models.Category>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@*Large Screen*@
    <div class="w3-bar">
        <a asp-area="Main" asp-controller="Default" asp-action="Index" class="w3-bar-item w3-button w3-mobile w3-hide-small w3-ext-animate-button">ArrayList</a>
        <div class="w3-hide-small w3-right">
            <div>@*div не удалять он а то Partial станет серым*@</div>
            <partial name="_LoginPartial" id="_LoginPartial" />
        </div>

        <div asp-area="Main" asp-controller="Default" asp-action="Index" class="w3-bar-item w3-button w3-mobile w3-hide-large w3-hide-medium w3-ext-animate-button">
            ARRAYLIST<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium w3-ext-animate-button" onclick="myFunction()">&#9776;</a>
        </div>

        <div class="w3-dropdown-hover w3-mobile w3-hide-small w3-right">
            <button class="w3-button w3-ext-animate-button">Менеджмент<i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                <a asp-area="Admin" asp-controller="Default" asp-action="Category" class="w3-bar-item w3-button w3-mobile w3-ext-animate-button">Менеджер категорий</a>
                <a asp-area="Admin" asp-controller="Default" asp-action="Article" class="w3-bar-item w3-button w3-mobile w3-ext-animate-button">Менеджер статей</a>
                <a asp-area="Admin" asp-controller="Default" asp-action="Users" class="w3-bar-item w3-button w3-mobile w3-ext-animate-button">Менеджер пользователей</a>
                <a asp-area="Admin" asp-controller="Default" asp-action="Comment" class="w3-bar-item w3-button w3-mobile w3-ext-animate-button">Менеджер комментариев</a>
            </div>
        </div>
    </div>

@*Small Screen*@
<div class="w3-hide w3-hide-large w3-hide-medium" id="demo">
    <div class="w3-mobile w3-center w3-dark-grey">
        <div class="w3-dropdown-hover w3-right">
            <button class="w3-button w3-ext-animate-button" onclick="showMenu('myId')">Менеджмент<i class="fa fa-caret-down"></i></button>
            <div id="myId"class="w3-container w3-hide w3-dark-grey">
                <a asp-area="Admin" asp-controller="Default" asp-action="Category" class="w3-button w3-mobile w3-center w3-ext-animate-button">Менеджер категорий</a>
                <a asp-area="Admin" asp-controller="Default" asp-action="Article" class="w3-button w3-mobile w3-center w3-ext-animate-button">Менеджер статей</a>
                <a asp-area="Admin" asp-controller="Default" asp-action="Users" class="w3-button w3-mobile w3-center w3-ext-animate-button">Менеджер пользователей</a>
                <a asp-area="Admin" asp-controller="Default" asp-action="Comment" class="w3-button w3-mobile w3-center w3-ext-animate-button">Менеджер комментариев</a>
            </div>
        </div>
    </div>

    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = "Main"})">
            <button type="submit" class="w3-bar-item w3-button w3-mobile w3-ext-animate-button">Выйти</button>
        </form>
    }
    @if (!SignInManager.IsSignedIn(User))
    {
        <a asp-area="Identity" asp-page="/Account/Login" class="w3-button w3-mobile w3-ext-animate-button">Войти</a>
    }
</div>