@using Microsoft.AspNetCore.Identity
@using Blog.Services.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@*TODO: Сделать раздельное отображение меню для администратора и пользователей*@
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <button class="w3-button w3-ext-animate-button"><i class="fas fa-user"></i><i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        @*<a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="w3-bar-item w3-button w3-mobile">@User.Identity.Name</a>*@
        <a asp-area="Admin" asp-controller="Default" asp-action="Index" class="w3-bar-item w3-button w3-ext-animate-button">Перейти к админке</a>
        <a asp-area="Identity" asp-page="/Account/Logout" class="w3-bar-item w3-button w3-ext-animate-button">Выйти</a>
    </div>
}
@if (SignInManager.IsSignedIn(User) && User.IsInRole("User") && !User.IsInRole("Admin"))
{
    <button class="w3-button w3-ext-animate-button"><i class="fas fa-user"></i><i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        @*<a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="w3-bar-item w3-button w3-mobile">@User.Identity.Name</a>*@
        <a asp-area="Identity" asp-page="/Account/Logout" class="w3-bar-item w3-button w3-ext-animate-button">Выйти</a>
    </div>
}

@if (!SignInManager.IsSignedIn(User))
{
    <button class="w3-button w3-ext-animate-button"><i class="fas fa-user"></i><i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        <a asp-area="Identity" asp-page="/Account/Login" class="w3-bar-item w3-button w3-ext-animate-button">Войти</a>
        <a asp-area="Identity" asp-page="/Account/Register" class="w3-bar-item w3-button w3-ext-animate-button">Регистрация</a>
    </div>
}