@model Article
@inject IBlogService BlogService
@{
    ViewData["Title"] = "AddArticle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@functions
{
    IEnumerable<SelectListItem>
    GetItems()
    {
        foreach (var item in BlogService.GetSubCategories())
        {
            yield return

            new SelectListItem { Text = item.Name, Value = item.Name };

        }
    }
}
<h4>Новая статья</h4>
<form method="post" enctype="multipart/form-data">
    <table class="w3-table w3-striped w3-bordered">
        <tr>
            <td>
                <label asp-for="SubCategory.Name">Выберите подкатегорию</label>
            </td>
            <td>
                <select asp-items="GetItems()" asp-for="SubCategory.Name"></select>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Name">Заголовок статьи</label>
            </td>
            <td>
                <textarea type="text" cols="50" rows="5" asp-for="Name"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Description">Введите краткий анонс статьи</label>
            </td>
            <td>
                <textarea type="text" asp-for="Description" maxlength="280" cols="50" rows="5"></textarea>
            </td>
        </tr>

        <tr>

            <td>
                <label>Картинка в ленте</label>
            </td>
            <td>
                <input class="w3-input" type="file" name="blogImage" required />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Raiting">Рейтинг статьи</label>
            </td>
            <td>
                <input type="text" asp-for="Raiting" required />
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="ArticleDetail.Text">Bootstrap статья</label>
            </td>
            <td>

                <textarea asp-for="ArticleDetail.Text" cols="50" rows="5"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="ArticleDetail.LinkToFlipBook">Ссылка на Flip Book. Ссылка должна быть вида:</label>
                <label> /upload/flip_article/article_777/index.html</label>

            </td>
            <td>
                <input asp-for="ArticleDetail.LinkToFlipBook" size="50" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Файлы, которые можно скачать</label>
            </td>
            <td>
                <fieldset>
                    <label>Заголовок файла 1:</label>
                    <input type="text" name="doc1Title" />
                    <input type="file" name="doc1" /><br />
                    <label>Заголовок файла 2:</label>
                    <input type="text" name="doc2Title" />
                    <input type="file" name="doc2" /><br />
                    <label>Заголовок файла 3:</label>
                    <input type="text" name="doc3Title" />
                    <input type="file" name="doc3" /><br />
                </fieldset>
            </td>
        </tr>
        <tr>
            <td>
                <label>Ссылки на файлообменники</label>
            </td>
            <td>
                <fieldset>
                    <fieldset>
                        <label>Заголовок ссылки 1</label><br />
                        <input type="text" name="outerLink1Title" /><br />
                        <label>FileShare Link 1</label><br />
                        <input type="text" name="outerLink1" /><br />
                    </fieldset>
                    <fieldset>
                        <label>Заголовок ссылки 2</label><br />
                        <input type="text" name="outerLink2Title" /><br />
                        <label>FileShare Link 2</label><br />
                        <input type="text" name="outerLink2" /><br />
                    </fieldset>
                    <fieldset>
                        <label>Заголовок ссылки 3</label><br />
                        <input type="text" name="outerLink3Title" /><br />
                        <label>FileShare Link 3</label><br />
                        <input type="text" name="outerLink3" /><br />
                    </fieldset>
                    <fieldset>
                        <label>Заголовок ссылки 4</label><br />
                        <input type="text" name="outerLink4Title" /><br />
                        <label>FileShare Link 4</label><br />
                        <input type="text" name="outerLink4" /><br />
                    </fieldset>
                    <fieldset>
                        <label>Заголовок ссылки 5</label><br />
                        <input type="text" name="outerLink5Title" /><br />
                        <label>FileShare Link 5</label><br />
                        <input type="text" name="outerLink5" /><br />
                    </fieldset>
                </fieldset>
            </td>
        </tr>
        <tr>
            <td>
                <p>Видео ролики</p>
            </td>
            <td>
                <fieldset>
                    <fieldset>
                        <label>Название видео 1</label><br />
                        <input type="text" name="titleVideo1" /><br />
                        <label>Ссылка на видео 1</label><br />
                        <input type="text" name="linkToVideo1" /><br />
                    </fieldset>
                    <fieldset>
                        <label>Название видео 2</label><br />
                        <input type="text" name="titleVideo2" /><br />
                        <label>Ссылка на видео 2</label><br />
                        <input type="text" name="linkToVideo2" /><br />
                    </fieldset>
                    <fieldset>
                        <label>Название видео 3</label><br />
                        <input type="text" name="titleVideo3" /><br />
                        <label>Ссылка на видео 3</label><br />
                        <input type="text" name="linkToVideo3" /><br />
                    </fieldset>
                </fieldset>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button asp-area="Admin" asp-controller="Default" asp-action="AddArticle">Отправить</button>
            </td>
        </tr>
    </table>
</form>