
@{
    Layout = null;
}
<!--Footer Start-->
<footer class="w3-row w3-padding w3-center">
    <p class="w3-center">Владелец домена не несет ответственности за материалы размещаемые другими пользователями</p>
    <a asp-area="Main" asp-controller="Default" asp-action="AddFeedBack" class="w3-button w3-ext-animate-button">Написать письмо</a>
    <a asp-area="Main" asp-controller="Default" asp-action="About" class="w3-button w3-ext-animate-button">Обо мне</a>
    <a href="http://arraylist.ru" class="w3-button w3-ext-animate-button"> ARRAYLIST, @DateTime.UtcNow.Year </a><br />


</footer>
<!--End Footer-->