
@{
    Layout = null;
}

<!--Jumbotron Start-->
<section class="w3-row w3-padding">
    <p class="w3-large w3-center"><strong>Добро пожаловать в мой блог, он посвящен стеку ASP.NET Core, Angular, TypeScript, MSSQL и всему полезному для web-разработчиков</strong></p>
    <hr />
    <p class="w3-center">Подпишитесь на мои новости, здесь я публикую  много интересного!</p>
    <a asp-area="Main" asp-controller="Default" asp-action="AddSubscribe" class="w3-button w3-small w3-border w3-border-blue w3-round-medium w3-right w3-margin-bottom w3-ext-animate-button">Подписаться</a>
    <br />
    <br />
    <hr />
</section>
<!--End Jumbotron-->