/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;

}


/*Выравнивание картинки по центру*/
.w3-ext-image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Размер картинки для блога*/
.w3-ext-img-size {
    max-width: 304px;
    max-height: 236px;
}

/*Размер аватраки*/
.w3-ext-avatar {
    max-width: 80px;
    max-height: 80px;
}

/*Анимация кнопки*/
.w3-ext-animate-button {
    transition: background-color 3s ease;
}

    .w3-ext-animate-button:hover {
        background-color: #626375;
    }

/*Выравнивание иконки на одной линии с текстом*/
.w3-ext-one-line-icon {
    font-size: 20px;
    position: relative;
    /* Adjust these values accordingly */
    top: 5px;
    left: 5px;
}

.w3-ext-max-width {
    max-width: 100px;
}


button {
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    color: initial;
    background-color: bisque padding: 1px 6px;
}


.w3-ext-centerd {
    max-width: 500px;
    margin: auto;
}
.w3-ext-panel-color {
    background-color:grey;
}

.w3-ext-text-color {
    color: white;
}



/*Левое меню*/
/* Не занимает место */
.w3-ext-hidden {
    display: none;
    visibility: hidden;
}

/* Занимает место */
.w3-ext-nothidden {
    display: block;
    visibility: hidden;
}

.w3-ext-left-menu {
    max-width: 200px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
