
@{
    ViewData["Title"] = "About";
    Layout = "~/Areas/Main/Views/Shared/_Layout.cshtml";
}
<div class="w3-container w3-medium w3-padding">
    <h4>About me</h4>
    <p>Hi, my name is Diane I am charged freelancer and ASP.NET Core web-developer</p>
    <p>I'm looking for like-minded people for cooperation to writing programs that can potentially be profitable, if you have any ideas, write me, I am always open for you and your ideas. You can write me at any time</p>
    <p>My stack:</p>
    <p>Back-end: ASP.NET Core, ASP.NET Web API, Identity, SignalR, EntityFramework, MSSQL</p>
    <p>Front-end: ASP.NET MVC View, HTML5, CSS3, CSS-animation, JavaScript/TypeScript</p>
    <p>I'm develop web applications and websites in the ASP.NET Core stack. I develop both frontend and backend. On the implementation of the project I will transfer all the source code, so you will be able to modify and evolve  your project</p>
    <p>To my back-end you can connect any front-end: Web, Windows program, MAC-Program, Android, IOS written in any stack and language. I show how, with samples</p>
    <p>You may contacts me by phone, email or fill the feedback form</p>
    <p>Contact : Diane, Freelancer, web-developer, email: DianeFLTereshko@gmail.com, +79199307985 (for contact please send SMS first)</p>
    <a asp-area="Main" asp-controller="Default" asp-action="AddFeedBack" class="w3-button w3-ext-animate-button">Go to form feedback</a>
</div>


