@using Blog.Services.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model Subscriber
@{
    ViewData["Title"] = "Subscribe";
    Layout = "~/Areas/Main/Views/Shared/_Layout.cshtml";
}

<h4>Подписка на рассылку новостей сайта</h4>

<form method="post">
    @{
        if (SignInManager.IsSignedIn(User))
        {
            <input type="text" asp-for="UserName" value="@UserManager.GetUserName(User)" class="w3-small" />
        }

        else
        {
            <input type="text" asp-for="UserName" value="Введите email" class="w3-small"/>
        }
    }
    <input type="submit" value="Подписатся" class="w3-button w3-small w3-ext-animate-button" />
</form>

