@using System.Text
@using Blog.Services.ViewModel
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model IList<Blog.Services.Models.Article>
@inject TriggerModel _TriggerModel
@{
    ViewData["Title"] = "Search";
    Layout = "~/Areas/Main/Views/Shared/_Layout.cshtml";
}
<h4>Результат поиска</h4>

@{
    if (Model.Any())
    {
        <hr>
        @foreach (var article in Model)
        {
            string find = _TriggerModel.Phraze.Trim();
            IList<string> tempfind = find.Split();
            Console.WriteLine(tempfind);
            int index = 0;
            IList<string> splitted = article.Description.Split();
            IList<string> bolded = new List<string>();
            bool next = false;
            int f = 0;
            foreach (var item in splitted)
            {
                if (item == tempfind[0])
                {
                    next = true;
                    bolded.Add($"<b>{item}</b>");
                    index = bolded.IndexOf(bolded.Min());
                    // Console.WriteLine(bolded[index]);

                    continue;
                }

                if (next == true && f < 3)
                {
                    bolded.Add($"<b>{item}</b>");
                    if (f > 3)
                    {
                        next = false;
                    }
                    f++;
                    continue;
                }
                bolded.Add(item);
            }

            //	Console.WriteLine(bolded[index]);
            //	Console.WriteLine(bolded);
            //	Console.WriteLine(index);
            IList<string> cutted = new List<string>();

            int j = 6;
            do
            {
                try
                {
                    cutted.Add(bolded[index - j]);
                }
                catch
                {
                    j--;
                    continue;
                }
                j--;
            } while (j >= 0);

            int k = 1;
            do
            {
                try
                {
                    cutted.Add(bolded[index + k]);
                }
                catch
                {
                    k++;
                    continue;
                }
                k++;
            } while (k < 18);

            string result = "";
            foreach (var item in cutted)
            {
                result += $" {item}";
            }
            <div class="w3-container w3-padding w3-small">
                <div class="w3-container w3-padding">
                    <p><span class="w3-padding-small"><i class="far fa-clock"></i>@article.Date</span></p>
                    <h4 class="w3-padding">@article.Name</h4>
                    <p class="w3-padding">@Html.Raw(result)</p>
                </div>
                <a asp-area="Main" asp-controller="Default" asp-action="Article" asp-route-id="@article.Id" class="w3-button w3-right w3-ext-animate-button">Перейти</a>
            </div>
            <hr>
        }
    }
    else
    {
        <span>Ничего не найдено</span>
    }
}